html, body {
  font-family: 'Helvetica', 'Verdana', sans-serif;
}

.inline-block-child {
    display: inline-block;
    padding-bottom: 14px;
}
.selector {
  width: 200%;
  height: 200%;
}

.go-button {
  background-color: #3F51B5;
  color: white;
  font-size: 20px;
  border: none;
  display: block;
  width: 100%;
  padding: 14px 28px 14px 28px;
  cursor: pointer;
  text-align: center;

}

.workout-name {
  font-size: 20px;
  font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
